



#footer {
  color:rgb(77, 51, 4);
  position: bottom;
  bottom: 0%;
  width: 20%;
  height: .1rem;            /* Footer height */
}

.list-unstyled { 
  font-size: 2rem;
color: rgb(36, 243, 71);
font-family: cursive;
}

body {
  margin: 10px;
}

.mywebdevclassbg {
  background: linear-gradient(-45deg, #0729e9, #4550ec, #6566d8, #130542);


}

.myfamilybusinessbg {
  background: linear-gradient(-45deg, #057c05, #df4141, #46b41b, #238316);


}

.indexbg {
  
  background: linear-gradient(-45deg, #d33d3d, #489dd6, #5456d8, #78eb7d);
}

.mylifebg {
  
  background: linear-gradient(-45deg, #eba4a4, #e0cc73, #757ed1, #f06868);}

.mymusicbg{
  
  background: linear-gradient(-45deg, #1ece0e, #b91616, #ccdd6c, #b41515);
}


#sidebar{
	float: center;
	width:  100%;
	padding: 0px;
	background: linear-gradient(-45deg, #add9ec, #7f81dd, #7099c8, #9654e0);
	color: rgb(15, 15, 15);
  box-sizing: border-box;
  font-size: 1rem;
  text-indent:  1rem;

}

#sidebar1{
	float: right;
	width:  20%;
	padding: 0px;
  background-color: rgb(251, 193, 112);
  box-sizing: border-box;
  font-size: 1rem;
  text-indent:  1rem;

}

#sidebar2{
  position: absolute;
  
	width:  20%;
	padding: 0px;
background-color: rgb(253, 204, 135);
  box-sizing: border-box;
  font-size: 1rem;
  text-indent:  1rem;

}




.mycol-bg1 {
background: rgb(246, 238, 246)
 url('img/85.jpg');
background-repeat: no-repeat;
background-size: 13rem 14rem;
background-position: center;

}

.mycol-bg2 {
  
  background: rgb(129, 218, 134)
 background-repeat: no-repeat;
 background-size: 12rem 13rem;
 background-position: center;
}

  
  



  

  
  .mycol-bg3 {
    background: url('img/temp_banner.jpg');
      background-repeat: no-repeat;
      background-size: 12rem 13rem;
      background-position: center;
    
    }

    

    .mycol-bg4 {
      background: url('img/6544.jpg');
      background-repeat: no-repeat;
      background-size: 12rem 13rem;
      background-position: center;
      
      }


#containergrid {
background-position: bottom;
}




.my-container {
  border: 10px solid rgb(24, 1, 1);
width: 30rem;

}


.my-row {
  border: 5px solid rgb(66, 236, 36);
}

.my-col {
  border: 8px dotted rgb(136, 136, 233);
  height: 200px;
}

.lead {
  color: aqua;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .topic1 {
    background: rgb(76, 75, 76)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

  .topic2 {
    background: rgb(10, 141, 173)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

  .topic3 {
    background: rgb(138, 90, 90)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

  .topic4 {
    background: rgb(126, 116, 15)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(33, 173, 8);
    text-align: center;
    padding: .4rem .4rem;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(88, 5, 109);
  }

  




/* styling paper */
#paper {
  width: 13rem;
  height: 21rem;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
}

/* styling red vertical line */
#paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255,0,0,0.6);
}

/* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: .1rem;
}




  
  

  
  
  
  
  