

/* Modify the backgorund color */ 
.navbar-custom { 
  background-color: rgb(105, 5, 105); 
} 

.nav-link {
  color: rgb(248, 58, 33);
}

.navbar-brand {
  color: rgb(211, 179, 120);
}

#footer {
  color:rgb(77, 51, 4);
  position: bottom;
  bottom: 0%;
  width: 20%;
  height: .1rem;            /* Footer height */
}

.list-unstyled { 
  font-size: 2rem;
color: rgb(36, 243, 71);
font-family: cursive;
}

body {
  margin: 30px;
  background: -webkit-linear-gradient(rgb(175, 27, 212), rgba(15, 180, 29, 0.76));
}

#sidebar{
	float: center;
	width:  100%;
	padding: 0px;
	background:#c4a0ca;
	color: rgb(73, 2, 2);
  box-sizing: border-box;
  font-size: .7rem;
	
}


.mycol-bg1 {
background-image: url('img/85.jpg');
background-repeat: no-repeat;
background-size: 12rem 13rem;
background-position: center;

}

.mycol-bg2 {
  color: black;
  background: linear-gradient(-45deg, #d6bbb3, #b9205b, #3c6a7a, #f167b8);
  animation: gradient 10s ease infinite;
  background-repeat: no-repeat;
  background-size: 5rem 15rem;
  background-position: center;
  }

  
  



  

  
  .mycol-bg3 {
    
    
    }

    

    .mycol-bg4 {
      background-image: url('img/6544.jpg');
      background-repeat: no-repeat;
      background-size: 12rem 13rem;
      background-position: center;
      
      }


.my-container {
  border: 10px solid rgb(24, 1, 1);
}

.my-row {
  border: 5px solid rgb(66, 236, 36);
}

.my-col {
  border: 8px dotted rgb(136, 136, 233);
  height: 300px;
}

.lead {
  color: aqua;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .topic1 {
    background: rgb(76, 75, 76)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

  .topic2 {
    background: rgb(10, 141, 173)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

  .topic3 {
    background: rgb(138, 90, 90)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }

  .topic4 {
    background: rgb(126, 116, 15)
    url('img/temp_banner.jpg') no-repeat right fixed;
    -webkit-background-size: 8rem;
    -moz-background-size: 8rem;
    background-size: 8rem;
    -o-background-size: 8rem;
  }